*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;

}
.nav-bar h1{
    font-size: 2rem;
    color: rgb(1, 1, 56);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    font-weight: 500;
}

.nav-bar-links{
    display: flex;
    column-gap: 10px;
    padding: 20px;
}

.nav-bar-links a{
    text-decoration: none;
    color: darkblue;
}
.nav-bar-links a:hover{
    color: skyblue;
}

.slide-bar{
   background-color: rgb(6, 6, 28);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -50%;
   transition: 0.40s;    
    
    padding-top: 50px;
    
    
}

.slide-bar a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
}
.slide-bar-link{
    padding: 20px;
    
    
}
.x-mark{
    color: white;
    text-align: right;
    padding: 30px;
}

.menu-toggle{
    display: none;
}

/*header part*/

.header{
    display: flex;
    gap: 60px;
    margin: 70px;
    justify-content: center;
}


.text h1{
    padding:10px;
    font-weight: 500;
    font-size: 3rem;
    
}
.text p{
    padding: 10px;
    font-size: 2em;
}
.shop-btn{
    background-color:black;
    padding: 10px;
    color: red;
    margin: 10px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.shop-btn:hover{
    color: black;
    background-color: skyblue;
}
.sentence-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.three-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.inside-box{
    background-color: gainsboro;
    padding: 20px;
    border-radius: 5px;
}
.new-arrival{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 20px;
    

}
.new-arrival-container{
    flex-basis: 20%;
    position: relative;
    
}
.new-arrival-shop{
    padding: 5px;
    position: absolute;
    top: 80%;
    left: 20%;
    border: none;
    border-radius: 5px;
    background-color:whitesmoke
}

.new-arrival-topic{
    
    font-size: 2rem;
    margin-left: 15px;
    font-weight: 400;
    
}
.top-collection-topic{
    
    font-size: 2rem;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 400;
    
}
.news-letter-container{
    text-align: center;
    padding: 20px;

}
.news-letter-container h3{
    font-size: 2rem;
    padding-top: 5px;
}
.news-letter-container h5{
    font-weight: 700;
    padding-top: 5px;
}
.news-letter-input{
    width: 70%;
    height: 30px;
    margin-top: 10px;
    border:2px solid black;
}
.news-letter-container button{
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;
}
.news-letter-container button:hover{
    color: red;
}

footer i{
    color: white;
    margin-top: 10px;
    
}

footer{
    background-color: rgb(5, 5, 30);
    color: white;
    padding: 30px;
    height: 100px;
}
.search-product{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin:20px;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
    width: 80%;
    
    
}
.search-product input{
    border: none;
    width: 100%;
}
.search-product input:focus{
    outline: none;
}

.product-box{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    
    

}
.product-img{
    flex-basis: 20%;
    text-align: center;
    
    
}

.contact-box{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(42, 6, 42);
    color: white;
    padding: 20px;
    height: 300px;
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;


}
#name-input {
   width: 100%;
   height: 25px;
   margin-top: 5px;
}
#name-mail {
    width: 100%;
    height: 25px;
    margin-top: 5px;
 }

 #name-message {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    
 }
  .contact-box p{
    margin-top: 10px;
  }
  .contact-box button{
    background-color: red;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-weight:700;
    width: 100px;
  }

/* media query */

 @media screen and (max-width:600px){
    .menu-toggle{
        display: block;
    }
    .nav-bar-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .sentence-box{
        display: none;
    }
    .three-box{
        flex-direction: column;
    }
    .new-arrival-container{
        flex-basis: 40%;
    }
    .new-arrival-shop{
        left: 30%;
    }
    .search-product{
        margin-left: 40px;
    }
    .contact-box{
        margin-left: 15%;
    }

    .product-img{
        flex-basis: 40%;
    }

.search-product{
    margin-left: 6%;
}
 }